@import '../../sass/config';

.Checkout {
  display: flex;
  padding: 1rem;
  background-color: rgb(234, 237, 237);
  height: max-content;
}
/* left side */
.Checkout__left {
  display: flex;
  flex-direction: column;
  flex: 2.5;
  img {
    width: 100%;
    object-fit: contain;
    margin-bottom: 2rem;
  }
  .Checkout__left__title {
    padding-bottom: 1rem;
    border-bottom: 1px solid gray;
  }
}

/* right side */
.Checkout__right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1;
  background-color: rgb(234, 237, 237);
  padding: 0 2rem;
  margin: 1rem;
  border: 1px solid #dddddd;
  border-radius: 3px;
  height: 160px;
  background-color: white;
  button {
    background-color: $buttonColor;
    border: 1px solid;
    border-color: $buttonBorderColor;
    color: #111;
    padding: 0.5rem;
    width: 100%;
    margin: 0 auto;
  }
  button:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

@media (max-width: 768px) {
  .Checkout {
    display: flex;
    flex-direction: column;
  }

  .Checkout__left {
    margin-top: 200px;
  }
  .Checkout__left > img {
    display: none;
    margin: 0;
  }
  .Checkout__right {
    position: absolute;
    text-align: center;
    align-items: center;
    display: flex;
    margin-left: 6rem;
  }
}
@media (max-width: 375px) {
  .Checkout__right {
    margin-left: 2rem;
  }
}
