.CheckoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: space-evenly;
  background-color: white;
  padding: 1rem;
}
.CheckoutProduct__img > img {
  object-fit: contain;
  height: 180px;
  width: 180px;
  flex: 1.5;
}
.CheckoutProduct__info {
  padding: 0 20px;
  padding-left: 10px;
  /* border: 1px solid red; */
  flex: 3;
}
.CheckoutProduct__title {
  font-size: 17px;
  font-weight: 800;
}
.CheckoutProduct__price {
  margin-top: 10px;
}
.CheckoutProduct__rating {
  display: flex;
}
.CheckoutProduct__info > button {
  background-color: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  padding: 0.5rem;
  margin-top: 20px;
}

.CheckoutProduct__info > button:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .CheckoutProduct {
    display: block;
    align-items: center;
    text-align: center;
    padding: 10px;
  }
  .CheckoutProduct__img {
    margin-bottom: 20px;
  }
  .CheckoutProduct__rating {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
